<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

 <gazebo>
    <plugin name='diff_drive' filename='libgazebo_ros_diff_drive.so'>

    <!-- wheels -->
    <num_wheel_pairs>2</num_wheel_pairs>
    <left_joint>1_joint</left_joint>
    <left_joint>3_joint</left_joint>

    <right_joint>2_joint</right_joint>
    <right_joint>4_joint</right_joint>
    
    <!-- kinematics -->
    <wheel_separation>0.42</wheel_separation>
    <wheel_diameter>0.1</wheel_diameter>

    <!-- limits -->
    <max_wheel_torque>500</max_wheel_torque>
    <max_wheel_acceleration>2.0</max_wheel_acceleration>

    <!-- output -->
    <odometry_frame>odom</odometry_frame>
    <robot_base_frame>base_link</robot_base_frame>
    <publish_odom>true</publish_odom>
    <publish_odom_tf>true</publish_odom_tf>
    <publish_wheel_tf>true</publish_wheel_tf>
    </plugin>
  </gazebo>
    <gazebo>
        <plugin name="gazebo_ros_joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
            <update_rate>20</update_rate>
            <joint_name>beam_joint</joint_name>
            <joint_name>camera_joint</joint_name>
        </plugin>
        <plugin name="gazebo_ros_joint_pose_trajectory" filename="libgazebo_ros_joint_pose_trajectory.so">
            <update_rate>20</update_rate>
        </plugin>

	<!-- Load transmission plugin -->
    	<plugin name="transmission" filename="libgazebo_ros2_control.so">
      	    <robotNamespace>/</robotNamespace>
      	    <controlPeriod>0.001</controlPeriod>
            <robotParam>articubot_one</robotParam>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    	</plugin>
	
    </gazebo>

</robot>